*.bin
*.elf
*.exe
*.img
*.gdb
*.o
*.tmp
*.tns
*.zip
prompt.cmd
/arm/*.lua
/bin
/calcbin
/dist
/distsdk
/distsdk-msys-yagarto
/Makefile.config
/Ndless-SDK/ndless_pc/lib/libnavnet.def
/Ndless-SDK/mingw-get
/Ndless-SDK/yagarto
/upload_cookies.txt
!/Ndless-SDK/NdlessEditor.exe
!/arm/ndless_version.lua
