[submodule "nspire-io"]
	path = ndless-sdk/thirdparty/nspire-io
	url = https://github.com/Vogtinator/nspire-io.git
[submodule "zlib"]
	path = ndless-sdk/thirdparty/zlib
	url = https://github.com/madler/zlib.git
	ignore = dirty
[submodule "freetype2"]
	path = ndless-sdk/thirdparty/freetype2
	url = git://git.sv.nongnu.org/freetype/freetype2.git
