#include "id.h"
#include <windows.h>

IDM_MENU MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&Save Flash", ID_SAVE_FLASH
		MENUITEM "Save Flash &As...", ID_SAVE_FLASH_AS
		MENUITEM "E&xit", ID_EXIT
	END
	POPUP "&Emulation"
	BEGIN
		MENUITEM "Enter &Debugger\tAlt+D", ID_DEBUGGER
		MENUITEM "&Reset CPU\tAlt+R", ID_RESET
		MENUITEM SEPARATOR
		MENUITEM "&Throttle Speed\t`", ID_THROTTLE, CHECKED
		MENUITEM "Show S&peed\tF6", ID_SHOW_SPEED
		MENUITEM "&Increase Speed\tF8", ID_INCREASE_SPEED
		MENUITEM "De&crease Speed\tF9", ID_DECREASE_SPEED
		MENUITEM SEPARATOR
		MENUITEM "Copy Screens&hot to Clipboard\tF7", ID_SCREENSHOT
	END
	POPUP "&Keypad"
	BEGIN
		MENUITEM "CAS&+", ID_KEYPAD_0
		MENUITEM "&Clickpad", ID_KEYPAD_1
		MENUITEM "TI-&84+ Keypad", ID_KEYPAD_2
		MENUITEM "Touchpad &Prototype", ID_KEYPAD_3
		MENUITEM "&Touchpad", ID_KEYPAD_4
	END
	POPUP "&Link"
	BEGIN
		MENUITEM "&Connect\tF10", ID_CONNECT
		MENUITEM "Set Target &Folder...", ID_SET_FOLDER
		MENUITEM "&Send Document..\tF11", ID_SEND_DOCUMENT
		MENUITEM "Send &OS...", ID_SEND_OS
		MENUITEM SEPARATOR
		MENUITEM "Send TI-&84+ File...", ID_SEND_TI84_FILE
		MENUITEM SEPARATOR
		MENUITEM "&XMODEM Send...", ID_XMODEM_SEND
	END
END

IDA_ACCEL ACCELERATORS
BEGIN
	"`",   ID_THROTTLE
	VK_F6, ID_SHOW_SPEED,     VIRTKEY
	VK_F7, ID_SCREENSHOT,     VIRTKEY
	VK_F8, ID_INCREASE_SPEED, VIRTKEY
	VK_F9, ID_DECREASE_SPEED, VIRTKEY
	VK_F10,ID_CONNECT,        VIRTKEY
	VK_F11,ID_SEND_DOCUMENT,  VIRTKEY
	"r",   ID_RESET, ALT
	"d",   ID_DEBUGGER, ALT
END

IDD_SET_FOLDER DIALOG 0, 0, 115, 45
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Set target folder"
FONT 8, "MS Shell Dlg"
BEGIN
	EDITTEXT IDC_TARGET_FOLDER, 5, 5, 105, 15
	DEFPUSHBUTTON "&OK", IDOK, 5, 25, 50, 15
	PUSHBUTTON "&Cancel", IDCANCEL, 60, 25, 50, 15
END
